<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css"/>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous"/>

</head>
<body>







<!--<a th:href="@{/authors/}" class="btn btn-primary">see Users</a>-->

<!--<div>-->

<!--    <form th:action="@{/logout}" method="post">-->
<!--        <p>Logged in user is : <b>[[${#request.userPrincipal.principal.fullName}]]</b></p>-->
<!--        <input type="submit" value="Sign out">-->
<!--    </form>-->
<!--</div>-->

</body>
</html>