<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css"/>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
</head>
<body class="bg-light">

<nav class="navbar navbar-light bg-warning">
    <form class="container-fluid justify-content-between">

        <div>
            <a th:href="@{/authors/}" class="btn btn-outline-success me-2 mr-4">See Authors</a>
            <a th:href="@{/showPostForm}" class="btn btn-outline-success me-2 mr-4">Create a Post</a>
        </div>
        <div>
            <a th:href="@{/authors/register}" class="btn btn-outline-success me-2 mr-4">Sign Up</a>
            <a th:href="@{/login}" class="btn btn-outline-success me-2 mr-4">Sign in</a>
        </div>


    </form>
</nav>

<div class="container">
    <table class="table table-bordered table-striped" id="userTable">
        <thead>
        <tr>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=id&sortDirection=' + ${reverseSortDir}}">
                    Title
                </a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=id&sortDirection=' + ${reverseSortDir}}">
                    Created Date
                </a>
            </th>



        </tr>
        </thead>
    </table>
</div>



<div class="container ">

    <h1 class="m-5">All Blog Posts</h1>

    <div>
        <div class="card m-3" th:each="post:${blogPosts}">
            <div class="card-body">
                <h4 class="card-title" th:text="${post.title}"></h4>
                <div>
                    <p class="m-0"><i class="bi bi-calendar-check"></i><small
                            th:text="' '+${post.postCreatedDate}"></small>
                    </p>
                    <small th:text="'Created By : '+${post.author.userName}"></small>
                </div>


                <p class="card-text mt-5" th:text="${post.body}"></p>


                <div class="d-flex justify-content-between">
                    <div>
                        <a class="m-2" href="#"><i class="bi bi-heart"></i> Like</a>
                        <a class="m-2" href="#"><i class="bi bi-chat-right"></i> Comments</a>
                        <a class="m-2" th:href="@{/postInDetail/{postId}(postId=${post.id})}">See more <i class="bi bi-three-dots"></i></a>
                    </div>
                    <div class="d-flex m-0">

                        <!--                        <a class="m-2" href="#"><i class="bi bi-trash"></i> Delete</a>-->
                        <!--                        <a class="m-2" th:href="@{'/blogpost/editPost/'+${post.author.id}"><i class="bi bi-pen"></i> Edit</a>-->
                        <a th:href="@{/blogpost/editPost(postId=${post.id})}" class="m-2"><i class="bi bi-pen"></i> Edit Post</a>

                    </div>
                </div>


            </div>
        </div>


    </div>

</div>

<div class="container ">
    Total Posts :[[${totalBlogPost}]] - Page [[${currentPage}]] of [[${totalPages}]]
    &nbsp;

    <a th:if="${currentPage >1}" th:href="@{'/page/1' + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">First</a>
    <span th:unless="${currentPage >1}">First</span>
    &nbsp;
    <a th:if="${currentPage >1}" th:href="@{'/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">Previous</a>
    <span th:unless="${currentPage >1}">Previous</span>
    &nbsp; &nbsp;

    <span th:each="i:${#numbers.sequence(1,totalPages)}">
            <a th:if="${i != currentPage}"
               th:href="@{'/page/'+${i}+ '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">[[${i}]]</a>
            <span th:unless="${i != currentPage}" class="btn btn-primary">[[${i}]]</span>

            &nbsp;  &nbsp;

        </span>

    <a th:if="${currentPage <totalPages}" th:href="@{'/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">Next</a>
    <span th:unless="${currentPage < totalPages}">Next</span>

    &nbsp; &nbsp;
    <a th:if="${currentPage <totalPages}" th:href="@{'/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">Last</a>
    <span th:unless="${currentPage < totalPages}">Last</span>


</div>

</body>
</html>